@import 'colors';

.packet {
	padding: 10px;
	border-bottom: 1px solid $border-light-grey;
	cursor: pointer;
	&.selected {
		color: white;
		background-color: $clr-blue;
	}
}

.packet:first-child {
	border-top: 1px solid $border-light-grey;
}