@import 'colors';

.packet-container {
	display: flex;
	justify-content: flex-start;
	cursor: pointer;
	border-bottom: 1px solid $border-light-grey;
	
	&:hover{
		background-color: lighten($clr-blue, 25%);
	}

	&.selected {
		color: white;
		background-color: $clr-blue;
	}
}

.color {
	height: 32px;
	flex-basis: 5px;
}

.packet {
	flex-basis: 100%;
	padding-left: 10px;
	margin: auto;
}
