@import 'colors';

.packets-panel {
	width: 100%;
	height: 100%;
}

.main-content {
	width: 100%;
	height: 100%;
	display: inline-block;
	border-top: 1px solid $border-grey;
}

.left-content {
	display: inline-block;
	float: left;
	width: 50%;
	height: 100%;
	border-right: 1px solid $border-grey;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.right-content {
	display: inline-block;
	float: left;
	width: 50%;
	height: 100%;
}