$marginLeft: 1rem;
$padding: 0.8rem;
$clr-purple: rgb(219, 122, 238);

html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: monospace;
  overflow: hidden;
}
.container {
  height: 100%;
  width: 100%;
  min-width: 700px;
  display: flex;
  flex-direction: row;
}
$header-ht: 8%;

.column {
  width: 33%;
  height: 100%;
  flex-grow:1;
  &:not(:first-child){
    border-left: 1px groove;
  }
  .header, .error-header{
    font-size: 1.25rem;
    background-color: #DEDEDE;
    border-bottom: 1px solid #666666;
    height: $header-ht;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sub-header{
      display: flex;
      justify-content: center;
      width:100%;
      text-overflow: ellipsis;
      font-size:0.8rem;
      .rcv-pkt{
        text-align: center;

        width: 50%;
        color: red;
      }
      .sent-pkt{
        text-align: center;
        width: 50%;
        color: blue;
      }
    }
  }
  .panel-body{
    height: 100% - $header-ht;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem 0;
    box-sizing: border-box;
    &.first{
      display:flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

#manager {
  font-size: 1.2rem;
  max-height: 50%;
  overflow-y: auto;
  overflow-x: hidden;
  .manager-name{
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: $padding;
  }
  ul{
    margin: 0.2rem 0 0.2rem 0.5rem;
  }
  .sockets {
    padding: 0.3em;
    font-size: 0.9rem;
    list-style-type: decimal;
    cursor: pointer;
    overflow-wrap: break-word;
    &:hover{
      background-color: $clr-purple;
    }
    &.selected {
      background-color: darken($clr-purple, 20%);
    }
  }
}

#packet {
  .packets {
    padding-left: $marginLeft;
    padding-bottom: 0.25em;
    font-size: 1rem;
    cursor: pointer;
    overflow-wrap: break-word;

    &.packet-created {
      color: blue;
      &.selected{
        background-color: #6699cc;
        color: darken(blue, 20%);
      }
    }

    &.packet-received {
      color: red;
      &.selected{
        background-color: lightcoral;
        color: darken(red, 20%);
      }
    }
  }
}

#pkt-content{
  margin: 0.5rem;
  font-size: 1rem;
}
$error-head-ht: 10%;
.error-panel{
  height: 50%;
  .error-header{
    height: $error-head-ht;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
  }
  .error-body{
    height: 100% - $error-head-ht;
  }
}
